<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- style general tailwind  -->
        <link rel="stylesheet" href="../public/css/dist/style.css">
        <link rel="stylesheet" href="../public/css/style.css">
    
        <!-- icone -->
        <link rel="stylesheet" href="../public/css/font-awesome-4.7.0/css/all.min.css">
        <link rel="stylesheet" href="../public/css/fontawesome-free-6.2.0-web/css/all.min.css">
    
        <!-- style specifique  -->
        <link rel="stylesheet" href="../public/css/user.css">
        <link rel="stylesheet" href="../public/css/login.css">
    
        <!-- style theme couleur -->
        <link rel="stylesheet" href="../public/css/theme/bleu.css" class="alternate-style" title="bleu" enable>
    <!--     <link rel="stylesheet" href="../public/css/theme/emit.css" class="alternate-style" title="emit" enable> -->
        <link rel="stylesheet" href="../public/css/theme/orange.css" class="alternate-style" title="orange" disabled>
        <link rel="stylesheet" href="../public/css/theme/rose.css" class="alternate-style" title="rose" disabled>
        <link rel="stylesheet" href="../public/css/theme/rouge.css" class="alternate-style" title="rouge" disabled>
        <link rel="stylesheet" href="../public/css/theme/vert.css" class="alternate-style" title="vert" disabled>
    <title>Notification </title>
</head>
<body>
    <div class="absolute bottom-12 left-12 w-max py-5 px-4 rounded translate-y-7 opacity-0  notification">
        <p>
            Bonjour Admin 
        </p>
        <span class="absolute left-1 bottom-1 h-1 scale-0  notification_progress"></span>
    </div>
</body>
</html>